asgiref
dj-database-url
Django
django-crispy-forms
django-environ
EasyProcess
entrypoint2
MouseInfo
mss
numpy
opencv-contrib-python
Pillow
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
sqlparse
typing_extensions
tzdata
